{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bg-container-contact100" style="background-image: url({% static 'images/bg-01.jpg' %});">
  
        <centre style="color: #fff;"><span style="font-size: 20px;">
            <br>
            <h5>Success!</h5>
            Thanks {{ Name }} your message hass been delivered successfully  from your email {{ email }} thanks for your response hope you are allright you will notified from over Mgwebdeveloper alerts very soon  Stay safe stay at home.</span></centre>
  
    
</div>




{% endblock %}

